<app-navbar></app-navbar>
<div class="airnest-content teletrabajo">
    <div class="header teletrabajo">
        <div class="header-content">
            <div class="a1 title">
                Your office in
                <span> paradise.</span>
            </div>
        </div>
    </div>
    <div class="module3 module3-1">
        <div class="box-resizing">
            <div class="top">
                <div class="a2 title">
                    Working from nature improves
                    <span>productivity</span>
                    and boosts
                    <span>happiness.</span>
                </div>
            </div>
            <div class="bottom">
                <div class="bottom-left">
                    <div class="a3 body-copy-1">Incorporating nature into working from home is known to have countless benefits that can substantially enrich your day to day life and work quality. From reducing stress to improving productivity, studies show a person’s overall well-being can significantly improve when surrounded by natural environments.</div>
                    <div class="a4 photo"></div>
                </div>
                <div class="bottom-right">
                    <div class="a5 photo"></div>
                    <div class="a6 body-copy-2">When you are done for the day or simply want to take a break from work, the numerous experiences the Islands have to offer will be awaiting. From local cuisine to hidden pathways to beautiful locations all within minutes of your home office. And if the night creeps in, the stars will be there to greet you through your window.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="module-islands-3 module3">
        <div class="box-resizing">
            <div class="top">
                <div class="a7 title">
                    A land full of
                    <span>treasures.</span>
                </div>
            </div>
            <div class="bottom">
                <div class="bottom-left">
                    <div class="a8 photo">
                        <a href="https://airnest.guestybookings.com/listings" class="a9 cta">Find your nest</a>
                    </div>
                    <div class="a10 body-copy-1">The Islands weather is known to be one of the best in the world, it’s like living in eternal springtime, this will allow you to work both indoors and outdoors all year round. Having multiple lively cities, the islands are equipped with everything and anything you might need, from high speed wifi to good public transport and grocery stores.</div>
                </div>
                <div class="bottom-right">
                    <div class="a11 body-copy-2">When you are done for the day or simply want to take a break from work, the numerous experiences the Islands have to offer will be awaiting. From local cuisine to hidden pathways to beautiful locations all within minutes of your home office. And if the night creeps in, the stars will be there to greet you through your window.</div>
                    <div class="a12 photo">
                        <a href="https://airnest.guestybookings.com/listings" class="a13 cta">Find your nest</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="module4">
        <div class="box-resizing">
            <div class="a14 title">
                Remote work from
                <span>paradise.</span>
            </div>
            <div class="a15 body-copy">At AirNest we want to make sure your working experience is wholesome and fulfilling, that is why we put at your disposal a selection of the most idyllic and fully equipped houses to work from.</div>
        </div>
    </div>
</div>
<app-footer></app-footer>