<app-navbar></app-navbar>
<div class="airnest-content islands">
    <div class="header islands">
        <div class="header-content">
            <div class="title">Our eight wonders.</div>
        </div>
    </div>
    <div class="module5">
        <div class="box-resizing">
            <div class="title">
                Your next
                <span>destination</span>
                awaits.
            </div>
            <div class="body-copy">The Canary Islands are known for possessing unique natural landscapes, making each one a paradise of its own. From volcanic beaches to lunar landscapes, this majestic set of islands is truly one of a kind. Eight unique wonders yet to be discovered. And it’s your time to meet them all. Wonder by wonder.</div>
            <div class="photo"></div>
        </div>
    </div>
    <div class="module-islands-1 module3">
        <div class="box-resizing">
            <div class="top">
                <div class="title">
                    From lava fields
    to virgin
                    <span>crystal beaches.</span>
                </div>
            </div>
            <div class="bottom">
                <div class="bottom-left">
                    <div class="body-copy-1">Let yourself be captivated by Lanzarote, the land of fire and volcanoes, where Mother Earth makes magic happen every day.</div>
                    <div class="photo">
                        <a href="https://dev.airnest.es/lanzarote" class="cta">Discover Lanzarote</a>
                    </div>
                </div>
                <div class="bottom-right">
                    <div class="photo">
                        <a href="https://dev.airnest.es/lagraciosa" class="cta">Discover La Graciosa</a>
                    </div>
                    <div class="body-copy-2">And just half an hour away from Lanzarote, small white villages next to crystalline beaches are the identity seal of La Graciosa, the hidden wonder of the Canary archipelago.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="module-islands-2 module3">
        <div class="box-resizing">
            <div class="top">
                <div class="title">
                    From lush forests
    to virgin endless
                    <span>sand dunes.</span>
                </div>
            </div>
            <div class="bottom">
                <div class="bottom-left">
                    <div class="photo inverse-module3-photo-left">
                        <a href="https://dev.airnest.es/lagomera" class="cta">Discover La Gomera</a>
                    </div>
                    <div class="body-copy-1">Green colours are the essence of La Gomera. Lush laurel forests, leafy palm groves and charming hamlets make this precious island a must see.</div>
                </div>
                <div class="bottom-right">
                    <div class="body-copy-2">Like an hourglass, Gran Canaria has the power to stop time. Infinite dunes and marvellous beaches will make you feel like you are in the middle of a magical oasis.</div>
                    <div class="photo inverse-module3-photo-right">
                        <a href="https://dev.airnest.es/grancanaria" class="cta">Discover Gran Canaria</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="module-islands-3 module3">
        <div class="box-resizing">
            <div class="top">
                <div class="title">
                    From breathtaking volcanoes
    to
                    <span>starlit skies.</span>
                </div>
            </div>
            <div class="bottom">
                <div class="bottom-left">
                    <div class="photo">
                        <a href="https://dev.airnest.es/tenerife" class="cta">Discover Tenerife</a>
                    </div>
                    <div class="body-copy-1">If you are looking for adventure, Tenerife is the place you’ve been looking for. From whale watching to climbing the highest peak in Europe, this is the liveliest island of them all.</div>
                </div>
                <div class="bottom-right">
                    <div class="body-copy-2">Starlit skies, coloured waterfalls and lush green forests make up La Palma, a multicolored landscape also known as “Isla bonita”, the beautiful island.</div>
                    <div class="photo">
                        <a href="https://dev.airnest.es/lapalma" class="cta">Discover La Palma</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="module-islands-4 module3">
        <div class="box-resizing">
            <div class="top">
                <div class="title">
                    From endless white beaches
    to
                    <span>underwater treasures.</span>
                </div>
            </div>
            <div class="bottom">
                <div class="bottom-left">
                    <div class="photo inverse-module3-photo-left">
                        <a href="https://dev.airnest.es/fuerteventura" class="cta">Discover Fuerteventura</a>
                    </div>
                    <div class="body-copy-1">Golden sand beaches and virgin turquoise bays make Fuerteventura the perfect spot to relax and enjoy the sea breeze and calm waters.</div>
                </div>
                <div class="bottom-right">
                    <div class="body-copy-2">Blessed with incredible underwater landscapes, El Hierro, also known as the island with soul, will show you all the treasures that water hides beneath the surface.</div>
                    <div class="photo inverse-module3-photo-right">
                        <a href="https://dev.airnest.es/elhierro" class="cta">Discover El Hierro</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>