<app-navbar></app-navbar>
<div class="airnest-content">
    <div class="legal-header">
        <div class="title">Legal Notice</div>
        <div class="last">
            Last updated: July 25, 2022 <br> <br>
        </div>
    </div>
    <div class="container-text">
        <div class="text">
            Accessing this page implies that you understand and accept the following terms and conditions of use:
            <ol>
                <li class="subtitle">Ownership of the website</li>
                The domain name <a href="www.airnest.es">www.airnest.es</a> is registered in favour of AirNest Homes S.L. (hereinafter, the OWNER OF THE WEBSITE), with CIF B76335793, registered in the Mercantile Registry of Las Palmas de Gran Canaria: Section 8; Sheet 55190 and whose registered office is in Av. Primero De Mayo, Nº37 Bis, 35002, Las Palmas de G.C. and with email address: <a href="mailto: info@airnest.es"> info@airnest.es</a>.
    
                <li class="subtitle">Intellectual property of the website</li>
                All the intellectual property rights of the content of this website, and its graphic design, are the exclusive property of the OWNER OF THE WEBSITE, who has the exclusive right to exercise the exploitation of the same. Thus, its reproduction, distribution, public communication or modification, total or partial, is forbidden without prior express authorization from the OWNER OF THE WEBSITE. Similarly, all distinctive signs, trademarks, trade names or signs of any kind contained in this website are protected by law.
                    
                <li class="subtitle">Content of the website and links</li>
                The OWNER OF THE WEBSITE is not responsible for any misuse that is made of the content of its website, such misuse being the sole responsibility of the person who accesses or uses the content. Nor is any responsibility assumed for information contained on any third-party websites that can be accessed through links from the website. The presence of these links is for informational purposes and does not constitute in any case an invitation to contract products or services that may be offered on the destination website. In the event that the OWNER OF THE WEBSITE obtains actual knowledge that the activity or information to which these links refer is illicit, offensive or may damage third party property or rights, it will act with the necessary diligence to eliminate or disable the corresponding link as soon as possible.
        
                <li class="subtitle">Updating and modifying the website</li>
                The OWNER OF THE WEBSITE reserves the right to update, modify or delete the information contained on its website, and its configuration or presentation, at any time, without prior notice and without assuming any responsibility for doing so.

                <li class="subtitle">Notes on technical aspects</li>
        
                The OWNER OF THE WEBSITE does not assume any responsibility for technical problems or failures of the computer equipment which may take place whilst connected to the internet, or that may be originated by third persons through illegitimate interference beyond their control.
                <br><br>
                The OWNER OF THE WEBSITE does not guarantee the absence of viruses and other elements that may cause damage to computer systems, electronic documents or user files of this website or the websites of third parties and is not responsible for damage that may occur for these reasons. Similarly, it is not responsible for possible damages that may affect the user as a result of errors, defects or omissions in the information provided when it comes from third-party sources.
                
        
                <li class="subtitle">Processing of user data</li>
                Data Protection Policy <br>
                In compliance with the legislation on protection of personal data established in the General Data Protection Regulation (GDPR), whose main purpose is to improve the level of protection of personal data (of natural persons) that is subject to processing, AIRNEST HOMES SL informs users that it adopts the technical and organisational measures in accordance with the provisions of the regulations in force.
                <br>
                The conditions set forth below are applicable to the services of AIRNEST HOMES SL, including those offered on this website and through any mobile sites or applications.
                <br>
                We reserve the right to modify or adapt this Data Protection Policy at any time. We will inform you about any modifications we make.
                <br>
                Accessing and browsing the website, or using its services, implies that you accept the conditions included in the Legal Notice.
                <br>
                Basic information about Data Protection
                If you give us your personal details in any of our services, here is how the data will be processed:
                <ul>
                    <li>
                        THE RESPONSIBLE PARTY <br>
                        The party responsible for the processing of your data:
                        <ul>
                            <li>
                                Identity: AIRNEST HOMES SL, hereafter, the RESPONSIBLE PARTY.
                            </li>
                            <li>
                                Postal address: Av. Primero De Mayo, Nº37 Bis, 35002, Las Palmas de G.C.
                            </li>
                            <li>
                                Email address: info@airnest.es
                            </li>
                        </ul>
                    </li>
                    <li>
                        PERSONAL DATA <br>
                        Categories of personal data that we request <br>
                        Depending on the service we provide you with (customer loyalty, quality, suppliers, …) we may process different categories of data. <br>
                        These may include, but are not limited to:
                        <ul>
                            <li>
                                Name
                            </li>
                            <li>
                                Tax identification number
                            </li>
                            <li>
                                Postal address
                            </li>
                            <li>
                                Nationality
                            </li>
                            <li>
                                Contact details (telephone, email)
                            </li>
                            <li>
                                Date of birth
                            </li>
                            <li>
                                Signature
                            </li>
                            <li>
                                Credit/debit card
                            </li>
                        </ul>
                    </li>
                    <li>
                        THE PURPOSES OF PROCESSING <br>
                        Purposes for which we process your personal data <br>
                        Depending on the service provided, we will process your data for a defined purpose. We describe these purposes below.
                    </li>
                    <li>
                        CUSTOMERS <br>
                        We may process your data to prepare quotes and invoices and carry out other activities which form part of a business relationship.
                    </li>
                    <li>
                        CUSTOMER LOYALTY + NEWSLETTER CONTACTS <br>
                        We will process your data in order to prepare quotes and invoices and carry out other activities which form part of a business relationship. <br>
                        We may also send you commercial or event information, always after receiving your authorization.
                    </li>
                    <li>
                        SUPPLIERS <br>
                        Your data will be processed to carry out the appropriate transactions and manage services. <br>
                        We may also send you commercial information, always after receiving your authorization. 
                    </li>
                    <li>
                        SOCIAL NETWORKS CONTACTS <br>
                        Your data will be processed so that we can be in contact with you, create a community of followers and manage your requests.
                    </li>
                    <li>
                        JOBSEEKERS <br>
                        The CVs collected will be processed with the objective of assessing the candidate for vacant positions. <br>
                        If you give us your consent, we will make your CV available to collaborating or related companies, with the aim of enabling you to find a job.
                    </li>
                    <li>
                        PROMOTIONS AND PUBLICITY <br>
                        We may also send you commercial or event information, informing you of new services or improvements to existing services, always after receiving your authorization.
                    </li>
                    <li>
                        LEGAL BASIS <br>
                        Legal basis for the processing of your data <br>
                        The legal basis for the processing of your data lies in: <br>
                        <ul>
                            <li>
                                <b>Your consent</b> in relation to the management of your requested service.                                
                            </li>
                            <li>
                                <b>The legitimate interesnt</b> of the RESPONSIBLE PARTY in relation to the prevention of abuse and fraud in the use of our services.
                            </li>
                            <li>
                                <b>The fulfilment of the legal obligations applicable</b> to the RESPONSIBLE PARTY for the transfer of data to public organisms and authorities, as long as this request is in accordance with the regulations.
                            </li>
                            <li>
                                In the case of the use of <b>social networks</b>, the acceptance of a contractual relationship with the corresponding social network, and in accordance with its privacy policies:
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/policy.php?ref=pf">Facebook</a>
                                    </li>
                                    <li>
                                        <a href="https://help.instagram.com/155833707900388">Instagram</a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/en/privacy">Twitter</a>
                                    </li>
                                    <li>
                                        <a href="https://policies.google.com/privacy?hl=en">Google + Youtube</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        DATA RETENTION <br>
                        How long will your data be retained? <br>
                        We will keep your data for the duration of your relationship with us and whilst you do not request its deletion, as well as for the time necessary to comply with legal obligations. <br>
                        We keep the information and communications related to the provision of our service for the duration of their warranties and to address possible claims. <br>
                        CVs will be securely destroyed two years after receipt.
                    </li>
                    <li>
                        THE RECIPIENTS OF YOUR DATA <br>
                        Who will receive your data and why? <br>
                        Your personal data will be communicated to third parties in the following cases: <br>
                        The providers that provide services to the RESPONSIBLE PARTY related to the service we provide to you will have access to your data. The RESPONSIBLE PARTY maintains the appropriate data processing contracts with each of the providers that supplies it with services in order to guarantee that said providers will process your data in accordance with the provisions of the current legislation. <br>
                        Your personal data may also be transferred to the competent authorities whenever there is a legal obligation.
                    </li>
                    <li>
                        RIGHTS REGARDING YOUR DATA <br>
                        What are your rights with respect to your personal data and how can you exercise them? <br>
                        You have the right to <b>know</b> if we are processing your personal data or not, and which data is being processed. <br>
                        Likewise, you have the right to <b>access</b> your personal data, as well as to request the <b>correction</b> of inaccurate data or to request its <b>deletion</b> when, among other reasons, the data is no longer required for the purposes for which it was collected. <br>
                        You can also request the <b>limitation</b> of the processing of your data, in which case we will only keep it to address possible claims. <br>
                        In certain circumstances, and for reasons related to your particular situation, you may <b>object</b> to the processing of your data. The RESPONSIBLE PARTY will stop processing the data, except for legal reasons or to address possible claims. <br>
                        You can also exercise the right to the <b>portability</b> of the data, as well as withdraw the consents provided at any time, without this affecting the legality of the processing based on the consent prior to its withdrawal. <br>
                        If you wish to exercise any of your rights, you can contact us through the appropriate links that you will find in the emails and communications from the RESPONSIBLE PARTY. <br>
                        You can also contact us by postal mail at the following address: Av. Primero De Mayo, Nº37 Bis, 35002, Las Palmas de G.C., marking the envelope “Data Protection”. <br>
                        Finally, you can contact the Spanish Data Protection Agency and other competent public bodies for any claim arising from the processing of your personal data.
                    </li>
                    <li>
                        THE COOKIES WE USE <br>
                        Our cookies policy <br>
                        This website uses cookies. For more information, see our Cookie Policy.
                    </li>
                    <li>
                        CHILDREN UNDER 14 YEARS OF AGE <br>
                        About minors and our data protection policy <br>
                        We do not intend to process data for children under 14 years of age. <br>
                        In accessing and browsing the web, it is difficult to control the user’s age. We make efforts to undertake this control, working with the available technology. In any case, for children below 14 years of age, we need the consent of the parents or legal guardians.
                    </li>
                    <li>
                        SECURITY MEASURES <br>
                        Security measures for the protection of your data <br>
                        We have technical resources and processes in place to prevent and deal with security breaches such as destruction, loss, misuse, alteration, unauthorised access and theft of personal data, taking into account the state of the technology, the nature of the data and the potential risks.
                    </li>
                </ul>

                <li class="subtitle">Use of cookies</li>
                This website may use cookies. The user can prevent cookies being generated by marking the corresponding menu option in their web browser, although if cookies are deactivated, it is possible that the operation of this website will be affected. <br>
                For more information, see our <a routerLink="../cookies-policy">Cookie Policy</a>.
            
                <li class="subtitle">Applicable law and jurisdiction</li>
                In general, relationships with users derived from the provision of services contained on this website are subject to Spanish legislation and jurisdiction. The users of this website are aware of the terms set out above and accept them voluntarily. <br>
                If the user clicks the “BOOK” button found on the data collection form, it is understood that they accept the conditions established above. <br>    
            </ol>
    
    
        </div>
    
        </div>
</div>
<app-footer></app-footer>