.wrapper {
    position: relative;
    width: 250%;
    height: 393px;
    bottom: -27%;
    overflow: hidden;
}

@media (max-width: 600px) {
    .wrapper {
        left: 90%;
    }

    #no01 {
        position: absolute !important;
        pointer-events: none !important; 
        opacity: 0 !important;
    }
}

@media (min-width: 600px) {
    .wrapper {
        left: 100%;
    }

    #carrousel {
        position: absolute !important;
        pointer-events: none !important; 
        opacity: 0 !important;
    }
}

.wrapper .boxC {
    position: absolute;
    width: 400px;
    height: 300px;
    padding: 25px;
    font-size: 40px;
    line-height: 60px;
    margin: 0 15px 0 0;
}

.boxC img {
    width: 400px;
    height: 300px;
}

.textBox {
    width: 500px !important;
    text-align: right;
}

.place-photo {
    width: 400px;
    height: 300px;
    background-color: grey;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}