<app-navbar></app-navbar>
<div class="airnest-content experiencias">
    <div class="header experiencias">
        <div class="header-content">
            <div class="title">Experiences.</div>
        </div>
    </div>
    <div class="m1 module1 beach">
        <div class="box-resizing">
            <div class="a1 title">
                Crystal clear waters and
                <span>volcanic sand.</span>
            </div>
            <div class="a2 text">The Canary Islands are home to over 500 beaches, making these natural landscapes a must stop. Whether you want to sink your feet in soft white sand, take a dip in the turquoise waters of a natural pool or practice your favorite water sport, the Islands have it all. From secluded coves to lively beaches, here is our top pick for you to explore.</div>
            <div class="c1 carrousel">
                <div class="place">
                    <div class="place-photo place-photo-1"></div>
                    <div class="place-title">
                        Playa de Benijo
                        <span>Tenerife</span>
                    </div>
                </div>
                <div class="place">
                    <div class="place-photo place-photo-2"></div>
                    <div class="place-title">
                        Playa de Las Canteras
                        <span>Gran Canaria</span>
                    </div>
                </div>
                <div class="place">
                    <div class="place-photo place-photo-3"></div>
                    <div class="place-title">
                        Playa de las Nieves
                        <span>Gran Canaria</span>
                    </div>
                </div>
                <div class="place">
                    <div class="place-photo place-photo-4"></div>
                    <div class="place-title">
                        Playa de Papagayo
                        <span>Lanzarote</span>
                    </div>
                </div>
                <div class="place">
                    <div class="place-photo place-photo-5"></div>
                    <div class="place-title">
                        Playa de Famara
                        <span>Lanzarote</span>
                    </div>
                </div>
                <div class="place">
                    <div class="place-photo place-photo-6"></div>
                    <div class="place-title">
                        Playa de Sotavento
                        <span>Fuerteventura</span>
                    </div>
                </div>
                <div class="place">
                    <div class="place-photo place-photo-7"></div>
                    <div class="place-title">
                        Playa de La Cocina
                        <span>La Graciosa</span>
                    </div>
                </div>
                <div class="place">
                    <div class="place-photo place-photo-8"></div>
                    <div class="place-title">
                        Playa de Las Conchas
                        <span>La Graciosa</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m2 module1 nature">
        <div class="box-resizing">
            <div class="a3 title">
                Lush forests and
                <span>rocky mountains.</span>
            </div>
            <div class="a4 text">Without a doubt, the richness that makes up the Canary Islands is due to its wide diversity of natural landscapes and exceptional location. Volcanoes, lava fields and lush laurel forests are some of the fascinating examples of the breathtaking scenery. Whether you are up for a hike to the highest peak in Europe or want to walk along hidden trails that lead to virgin waterfalls, here is our list of must dos.</div>
            <div class="c2 carrousel">
                <div class="place">
                    <div class="place-photo place-photo-1"></div>
                    <div class="place-title">
                        El Teide
                        <span>Tenerife</span>
                    </div>
                </div>
                <div class="place">
                    <div class="place-photo place-photo-2"></div>
                    <div class="place-title">
                        Anaga
                        <span>Tenerife</span>
                    </div>
                </div>
                <div class="place">
                    <div class="place-photo place-photo-3"></div>
                    <div class="place-title">
                        Parque rural del Nublo
                        <span>Gran Canaria</span>
                    </div>
                </div>
                <div class="place">
                    <div class="place-photo place-photo-4"></div>
                    <div class="place-title">
                        Dunas de Maspalomas
                        <span>Gran Canaria</span>
                    </div>
                </div>
                <div class="place">
                    <div class="place-photo place-photo-5"></div>
                    <div class="place-title">
                        Timanfaya
                        <span>Lanzarote</span>
                    </div>
                </div>
                <div class="place">
                    <div class="place-photo place-photo-6"></div>
                    <div class="place-title">
                        Charco Los Clicos
                        <span>Lanzarote</span>
                    </div>
                </div>
                <div class="place">
                    <div class="place-photo place-photo-7"></div>
                    <div class="place-title">
                        Montaña Tindaya
                        <span>Fuerteventura</span>
                    </div>
                </div>
                <div class="place">
                    <div class="place-photo place-photo-8"></div>
                    <div class="place-title">
                        Caldera de Taburiente
                        <span>La Palma</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m3 module1 town">
        <div class="box-resizing">
            <div class="a5 title">
                Colorful cities and
                <span> friendly islanders.</span>
            </div>
            <div class="a6 text">Without a doubt, the richness that makes up the Canary Islands is due to its wide diversity of natural landscapes and exceptional location. Volcanoes, lava fields and lush laurel forests are some of the fascinating examples of the breathtaking scenery. Whether you are up for a hike to the highest peak in Europe or want to walk along hidden trails that lead to virgin waterfalls, here is our list of must dos.</div>
            <div class="c3 carrousel">
                <div class="place">
                    <div class="place-photo place-photo-1"></div>
                    <div class="place-title">
                        La Orotava
                        <span>Tenerife</span>
                    </div>
                </div>
                <div class="place">
                    <div class="place-photo place-photo-2"></div>
                    <div class="place-title">
                        Arucas
                        <span>Gran Canaria</span>
                    </div>
                </div>
                <div class="place">
                    <div class="place-photo place-photo-3"></div>
                    <div class="place-title">
                        Firgas
                        <span>Gran Canaria</span>
                    </div>
                </div>
                <div class="place">
                    <div class="place-photo place-photo-4"></div>
                    <div class="place-title">
                        San Bartolomé
                        <span>Lanzarote</span>
                    </div>
                </div>
                <div class="place">
                    <div class="place-photo place-photo-5"></div>
                    <div class="place-title">
                        Yaiza
                        <span>Lanzarote</span>
                    </div>
                </div>
                <div class="place">
                    <div class="place-photo place-photo-6"></div>
                    <div class="place-title">
                        Caleta de Sebo
                        <span>La Graciosa</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>