<app-navbar></app-navbar>
<div class="airnest-content">
    <div class="legal-header">
        <div class="title">Cookies Policy</div>
        <div class="last">
            Last updated: July 25, 2022 <br>
            Please read this cookies policy carefully before using Our Service.
        </div>
    </div>
    <div class="container-text">
        <div class="text">
            <div class="subtitle">Interpretation</div>
            Owing to the entry into force of the mentioned modification of the law regarding Information Society Services 
            (LSSICE, as per the Spanish acronym), established by Royal Decree 13/2012, the user’s express consent must be obtained 
            for all webpages that use cookies that are not strictly necessary before the user browses the site.

            <ol>    
                <li class="subtitle">Definition of cookies and their function </li>
                A cookie is a file that is downloaded to the user’s computer/Smartphone/Tablet (device) when 
                accessing certain webpages, with the purpose of storing and recovering information about navigation or 
                browsing habits associated with a particular device. Depending on the information they contain and the way 
                the device is used, the user may be recognised. To find out more about cookies, “AIRNEST HOMES S.L.” 
                invites you to access the following link: <a href="https://en.wikipedia.org/wiki/HTTP_cookie">https://en.wikipedia.org/wiki/HTTP_cookie</a>
        
                <li class="subtitle">What kind of cookies does <a href="http://www.airnest.es/">http://www.airnest.es/</a> use?</li>
                <ul>
                    <li>
                        <b>First-party cookies:</b> these are sent to the user’s terminal device from a device or domain managed by the editor, 
                        which provides the service requested by the user.
                    </li>
                    <li>
                        <b>Third-party cookies:</b> these are sent to the user’s terminal device from a device or domain that is not managed by the editor but rather by another entity that processes the data obtained through the cookies.
                    </li>
                    <li>
                        <b>Session cookies:</b> a type of cookie designed to collect and store data while the user accesses a webpage.

                    </li>
                    <li>
                        <b>Persistent cookies:</b> in this type of cookie data continues to be stored in the user’s terminal and the data can be accessed and processed for a period of time set by the party responsible for the cookie, which may range from a few minutes to several years.

                    </li>
                    <li>
                        <b>Analysis cookies:</b> whether processed by us o by third parties, these cookies allow us to quantify the number of users and, therefore, to statistically measure and analyse the use that users make of the service offered. This is done by analysing your browsing of our website to improve the range of products or services we offer.
                    </li>
                </ul>        
                <li class="subtitle">Regarding the types of cookies, there are five big groups:</li>
                <ul>
                    <li>
                        <b>Analytical cookies:</b> they collect information about the use made of the website.
                    </li>
                    <li>
                        <b>Social cookies:</b> these are required for external social networks.
                    </li>
                    <li>
                        <b>Affiliate cookies:</b> they make it possible to keep track of visits referred from other websites, with which this website establishes an affiliation contract (affiliate companies).
                    </li>
                    <li>
                        <b>Advertising and behavioural cookies:</b> these collect information about the user’s preferences and personal choices (retargeting).
                    </li>
                    <li>
                        <b>Technical and functional cookies:</b> these cookies are strictly necessary for the use of this website and for the provision of the contracted service.
                    </li>
                </ul>
        
                <li class="subtitle">Disabling, revoking or deleting cookies.</li>
                Users may, at any time, enable, block or delete the cookies installed on their device by selecting the appropriate settings on their browsers. If the installation of cookies is not allowed in their browser, it is possible that they may be unable to access certain sections of our website.
                <br><br>
                Browser settings; for example:
                <ul>
                    <li>
                        Chrome: <a href="https://support.google.com/chrome/answer/95647?hl=en">https://support.google.com/chrome/answer/95647?hl=en</a>
                    </li>
                    <li>
                        Explorer: <a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies">https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies</a>
                    </li>
                    <li>
                        Firefox: <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences</a>
                    </li>
                    <li>
                        Safari: <a href="http://support.apple.com/kb/ph5042">http://support.apple.com/kb/ph5042</a>
                    </li>
                    <li>
                        Ópera: <a href="http://help.opera.com/Windows/10.20/en/cookies.html">http://help.opera.com/Windows/10.20/en/cookies.html</a>
                    </li>
                </ul>

                <br>
                The specific opt-out systems related to the relevant cookie (these systems may require the installation of an opt-out cookie on your device so that your disabling option works)
                Other third-party tools, available on-line, which enable users to detect cookies on each website they visit and manage their disabling (for example, Ghostery: <a href="https://www.ghostery.com/about-ghostery/privacy-statements/">https://www.ghostery.com/about-ghostery/privacy-statements/</a>, <a href="https://www.ghostery.com/faqs">https://www.ghostery.com/faqs</a> ).
            </ol>
        </div>
    </div>

</div>
<app-footer></app-footer>