* {
    font-family: "Playfair Display" !important;
}

@media (min-width: 600px) {
    .logInBox {
        background-color: white;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 400px;
        padding: 60px 0;
    }
}

@media (max-width: 600px) {
    .logInBox {
        background-color: white;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 60px 0;
    }
}

.login {
    background-color: #424242 !important;
    padding: 0!important;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border: 0;
}
  
button {
    color: black !important;
    border: 2px solid black;
    padding: 10px 20px;
    font-style: italic !important;
    width: 80%;
    background-color: white;
    margin-top: 20px;
}

button:hover {
    background-color: black;
    color: white !important;
    cursor: pointer;
}

.text {
    width: 80%;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
}

.invalidCredentials {
    width: 80%;
    color: tomato;
    margin: 3px 0 12px 0;
    text-align: center;
    font-size: 14px;
}

img {
    width: 50%;
    margin-bottom: 20px;
}

.input-module {
    width: 80%;
    margin-bottom: 20px;
}

.input-module input {
    width: calc(100% - 20px);
    background-color: rgb(241, 241, 241);
    border-radius: 3px;
    height: 40px;
    border: 0;
    padding-left: 20px;
}

