<app-navbar></app-navbar>
<div class="airnest-content about">
    <div class="header about">
        <div class="header-content">
            <div class="title">Meet your highest expectations.</div>
        </div>
    </div>
    <div class="module3-long">
        <div class="box-resizing">
            <div class="a1 title">
                Taking your experience to a
                <span>new level.</span>
            </div>
            <div class="module3-long-complex">
                <div class="side">
                    <div class="a2 body-copy">
                        <strong> Our mission.</strong>
                        <div class="copy">Our mission as a local business is to improve the experience travelers have while on the island, both inside our homes and throughout their visit.</div>
                    </div>
                    <div class="a3 body-copy">
                        <strong> Our values.</strong>
                        <div class="copy">Everything we do and all the services we provide are in line with our deeply rooted values; quality, transparency and sustainability.</div>
                    </div>
                </div>
                <div class="photo2"></div>
            </div>
            <div class="module3-long-complex">
                <div class="photo3"></div>
                <div class="side">
                    <div class="a4 body-copy">
                        <strong>Transparency.</strong>
                        <div class="copy">At AirNest, we are well aware that our services are only possible thanks to those willing to open their homes to others. That is why we take extra care in knowing that they are comfortable and have full visibility and control over their house during the entire process.</div>
                    </div>
                    <div class="a5 body-copy">
                        <strong> Quality.</strong>
                        <div class="copy">All the accommodations we offer have undergone a strict selection process to ensure they are in line with the company’s rigorous quality standards.</div>
                    </div>
                    <div class="a6 body-copy">
                        <strong>Sustainability.</strong>
                        <div class="copy">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed rerum a totam, dolorem hic reiciendis assumenda sint asperiores doloremque nobis.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="module4" id="sustainability">
        <div class="box-resizing">
            <div class="a7 title">
                Our future.
    Our
                <span>responsibility.</span>
            </div>
            <div class="a16 body-copy">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam at quod eaque aperiam perspiciatis dolore molestiae odio aut modi reprehenderit ipsa quam maiores culpa, repellat expedita commodi possimus doloribus magni, vero asperiores dignissimos? At atque dolorum ipsum incidunt odio hic nemo cum quidem maxime numquam non suscipit, labore sint natus quae quos nobis? Veniam, facilis totam dolore consectetur maiores debitis quam saepe consequatur recusandae dignissimos velit, fugit doloribus libero eveniet vero iure, sapiente officiis reprehenderit corporis ipsum quaerat quisquam? Ullam adipisci mollitia eius accusantium veniam aliquam suscipit quisquam deleniti inventore?</div>
        </div>
    </div> -->
    <div class="module6 module6-extra">
        <div class="box-resizing">
            <div class="a8 title">
                Sharing our home with the
                <span> world.</span>
            </div>
            <div class="a9 body-copy">Local islanders who want to share their home with the world.</div>
            <div class="bottom">
                <div class="a10 box">
                    <div class="box-image"></div>
                    <div class="box-title">
                        <span>Javier Navarro</span>
                    </div>
                    <div class="box-copy">
                        After working in London's financial sector for a decade, I left for sunny Spain to start AirNest; with a vision to move away from the all-inclusive model of 'fast tourism' and provide visitors with a personalized service and an acquaintance with local culture.
                    </div>
                    <div class="box-apostrophes">’’</div>
                </div>
                <div class="a11 box">
                    <div class="box-image"></div>
                    <div class="box-title">
                        <span>Javier Aguirre</span>
                    </div>
                    <div class="box-copy">
                        Graduated in Hotel Management and Tourism, after more than 15 years of experience in the sales sector, I return to what I enjoy the most: customer service. My priority is making our guests feel at home and having seamless communication throughout their stay.                    </div>
                    <div class="box-apostrophes">’’</div>
                </div>
                <div class="a12 box">
                    <div class="box-image"></div>
                    <div class="box-title">
                        <span>Alejandro Doreste</span>
                    </div>
                    <div class="box-copy">
                        Having spent almost two decades in the services sector I continue to love interacting with people and providing them with the best experience possible when visiting the Canary Islands. I perfectly know the islands and guiding our guests is a rewarding pleasure.                    </div>
                    <div class="box-apostrophes">’’</div>
                </div>
                <div class="a13 box">
                    <div class="box-image"></div>
                    <div class="box-title">
                        <span>Otilia Kim</span>
                    </div>
                    <div class="box-copy">
                        I graduated from Les Roches Switzerland and have worked in the hospitality industry for several years now. I take pride in providing the best possible service to all our guests through meticulous planning and above all, great teamwork.                    </div>
                    <div class="box-apostrophes">’’</div>
                </div>
                <div class="a14 box">
                    <div class="box-image"></div>
                    <div class="box-title">
                        <span>Ange Serantes</span>
                    </div>
                    <div class="box-copy">
                        I was Manager of Bandama Golf Hotel for 5 years and former director of administration and marketing of the Real Club de Golf de Las Palmas. Subsequently I co-founded the Villa Bandama Golf, a 4-star boutique hotel.                    </div>
                    <div class="box-apostrophes">’’</div>
                </div>
                <div class="a15 box">
                    <div class="box-image"></div>
                    <div class="box-title">
                        <span>Lara Hernandez</span>
                    </div>
                    <div class="box-copy">
                        Graduated in Business Administration at Sheffield Hallam, a sales expert passionate about tourism and customer success taking AirNest´s guest service to the next level.</div>
                    <div class="box-apostrophes">’’</div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
