<div class="footer-airnest">
    <div class="pad">
        <div class="f-left">
            <div class="links-box">
                <div class="links">
                    <a routerLink="/home">Home</a>
                    <a routerLink="/our-nests">Our nests</a>
                    <a routerLink="/experiences">Experiences</a>
                    <a routerLink="/islands">Islands</a>
                </div>
                <div class="links">
                    <a routerLink="/remote-working">Remote working</a>
                    <a routerLink="/about">About Airnest</a>
                    <a href="https://ournests.airnest.es/listings/" target="_self">Booking</a>
                    <a href="https://airnest.guestyowners.com" target="_self">Owners</a>
                </div>
            </div>
            <!-- TrustBox widget - Micro Review Count -->
            <div class="trustpilot-widget" data-locale="es-ES" data-template-id="5419b6a8b0d04a076446a9ad"
                data-businessunit-id="600039119f76260001f7b359" data-style-height="24px" data-style-width="100%"
                data-theme="light" data-stars="1,2,3,4,5" data-no-reviews="hide" data-scroll-to-list="true"
                data-allow-robots="true" data-min-review-count="10">
                <a href="https://es.trustpilot.com/review/airnest.es" target="_blank" rel="noopener">Trustpilot</a>
            </div>
            <!-- End TrustBox widget -->
            <div class="rrss">
                <a target="_blank" href="https://www.instagram.com/airnest.es/" rel="noopener">
                    <i class="fab fa-instagram"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/airnest.es/" rel="noopener">
                    <i class="fab fa-facebook"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/company/airnesthomes/?originalSubdomain=ca"
                    rel="noopener">
                    <i class="fab fa-linkedin"></i>
                </a>
                <div class="email">info@airnest.es</div>
            </div>
        </div>
        <div class="f-right">
            <div class="newsletter-text">Subscribe to our Newsletter and rediscover the Canary Islands.</div>
            <div class="newsletter-text">You will access to exclusive content, special offers and much more.</div>
            <form [formGroup]="userForm" novalidate>
                <input name="EMAIL" class="email-input mat-body-1 email" type="email" formControlName="email"
                    id="mce-EMAIL" />
                <input type="hidden" name="b_edd79a59c2e5bc2637645344b_8709a3b193" tabindex="-1" value="">
                <div class="message" [innerHTML]="message"></div>
                <button class="subscribe mat-body-2 submit" (click)="subscribeEmail()">
                    Send
                </button>
            </form>
            <div class="right-links">
                <a routerLink="/terms-and-conditions">Terms and conditions</a>
                <a routerLink="/privacy-policy">Legal notice</a>
                <div class="copyrith">Airnest © 2021</div>
            </div>
        </div>
    </div>
</div>