<div class="header home-page" id="header">
    <div class="trigger"></div>
    <nav id="nav2">
        <a style="text-decoration: none;" routerLink="/home">
            <div class="airnest-logo-changing">
                <img class="airnest-logo-black-nav" src="/assets/img/Airnest_Logo-Black.png" alt="">
            </div>
        </a>
        <div class="hamburguer-nav">
            <div class="nav-left">
                <a class="nav-button" routerLink="/our-nests" >Our nests</a>
                <div class="nav-button live">
                    <div class="livetext">Live the experience</div>
                    <div class="livebox">
                        <a class="nav-button" routerLink="/experiences" >Experiencies</a>
                        <a class="nav-button" routerLink="/islands" >Islands</a>
                        <a class="nav-button" routerLink="/remote-working" >Remote Working</a>
                    </div>
                </div>
                <a class="nav-button" routerLink="/about" >About Airnest</a>
                <a class="nav-button" href="https://airnest.guestyowners.com/" target="_self">Owners</a>
                <a class="nav-button" routerLink="/blog" >Blog</a>
            </div>
        </div>
        <div class="hamburger-buttons">
            <div id="ham-close"></div>
            <div id="ham-open"></div>
            <div id="ham-line-1-nav" class="hamburger-buttons-line-nav"></div>
            <div id="ham-line-2-nav" class="hamburger-buttons-line-nav"></div>
            <div id="ham-line-3-nav" class="hamburger-buttons-line-nav"></div>
        </div>
    </nav>
    <nav id="nav">
        <a style="text-decoration: none;" routerLink="/home" >
            <div class="airnest-logo-changing">
                <img class="airnest-logo-white" src="/assets/img/Airnest_Logo-White.png" alt="">
                <img class="airnest-logo-black" src="/assets/img/Airnest_Logo-Black.png" alt="">
            </div>
        </a>
        <div class="hamburguer">
            <div class="nav-left">
                <a class="nav-button" routerLink="/our-nests">Our nests</a>
                <div class="nav-button live">
                    <div class="livetext">Live the experience</div>
                    <div class="livebox">
                        <a class="nav-button" routerLink="/experiences" >Experiences</a>
                        <a class="nav-button" routerLink="/islands" >Islands</a>
                        <a class="nav-button" routerLink="/remote-working" >Remote Working</a>
                    </div>
                </div>
                <a class="nav-button" routerLink="/about" >About Airnest</a>
                <a class="nav-button" href="https://airnest.guestyowners.com/" target="_blank">Owners</a>
                <a class="nav-button" routerLink="/blog" >Blog</a>
            </div>
        </div>
        <div class="hamburger-buttons">
            <div class="hamburger-buttons-line"></div>
            <div class="hamburger-buttons-line"></div>
            <div class="hamburger-buttons-line"></div>
        </div>
    </nav>
    
</div>
